#nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index:100000;
}

#nav-overlay.visible {
    opacity: 1;
}

.overlay-nav-left{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.7;
}

.overlay-nav-right{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.7;
}