body{
    margin:0;
    padding:0;
    overflow:auto
}

.speaker-notes{
    color:darkslategrey; 
    background-color:floralwhite
}
p {
    padding:0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
h1 {
    color: floralwhite;
    background-color: darkslategray;
    padding-left: 0.5em;
    padding-right: 0.5em; 
}