.print-page-1-up {
    position:relative;
    width: auto;
    height: auto;
    margin:auto;
    justify-content: space-between;
    page-break-after: always;
    display:grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}



 
.print-page-6-up{
    width: 100%;
    height:100%;
    justify-content: space-between;
    page-break-after:always;
    display:grid;
    grid-template-columns:1fr 1fr;
    overflow:hidden; 
}


#print-container{
    position:relative;
    display:none;
    width: 100%;
    height:100%;
    overflow:scroll;
}

#print-container .gorilla-presenter-slide{
    position: relative;
    background-color:white;
    color:black;
    border:1px solid black;
    border-radius:10px;
    overflow:hidden;
 }

#print-container .gorilla-presenter-slide h1 {
    background-color:white;
    color:black;
 }
 #print-container .gorilla-presenter-slide li{
    font-size:75%
 }
 